body {
    background-color: blue;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
}

.cell {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 4px;
}

.x {
    background-image: url(https://thumbs.gfycat.com/SpanishFrequentCapeghostfrog-max-1mb.gif);
    background-position: center;
    background-size: cover;
}

.o {
    background-image: url(https://thumbs.gfycat.com/MintyAnyGrouse-max-1mb.gif);
    background-position: center;
    
    background-size: cover;
}